# =========================
# MySQL Container
# =========================

MYSQL_ROOT_PASSWORD=<mysql-root-password>
MYSQL_DATABASE=quantumcart_inventory
MYSQL_USER=<mysql-user>
MYSQL_PASSWORD=<mysql-password>
MYSQL_HOST_PORT=3310


# =========================
# Inventory Service
# =========================

NODE_ENV=development
PORT=8005

DB_HOST=localhost
DB_PORT=3310
DB_USER=<mysql-user>
DB_PASSWORD=<mysql-password>
DB_NAME=quantumcart_inventory
DB_CONNECTION_LIMIT=10